body{font-family: 'Overpass', sans-serif;}

.card {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapp {
    display: flex;
    width: 330px;
    min-height: 50vh;
    border-radius: 10px;
    background-color:#242b35;
    padding: 22px;
}

.border-radius img {
    border-radius: 50%;
    background-color: #30393f;
    padding: 12px;
}

.boba .regret {
    padding: 12px;
    border-radius: 50%;
    background-color: #30393f;
    color:#777a7e;
    width: 7%;
    text-align: center;
    font-weight: 700;
    transition: 0.5s;
}
.boba {
    width: 100%;
    height: auto;
    display: flex;
  flex-wrap: nowrap;
}

.boba .regret:hover {
    color: white;
    background-color: #677075;
}

.left {
    margin-left: 22px;
}

.centered {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 8px;
}

.submit {
    width: 100%;
    background-color: #fc7613;
    border: 1px solid #fc7613;
    color: white;
    border-radius: 20px;
    height: 35px;
    position: relative;
    top: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: 1s;
}

.submit:hover {
    background-color: white;
    color: #f8cba0;
    border: 1px solid white;
}

.hilang {
    display: none;
}

.thanks img {
    margin: auto;
    width: 50%;
    display: block;
}

.middle { 
    text-align: center;
    position: relative;
    top: 10px;
}

.middle p{
    margin: auto;
    display: block;
    width: 200px;
    padding: 5px;
    border-radius: 15px;
    color: #fc7613;
    background-color: #30393f;
}

.tengah {
    text-align: center;
}
